@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}
<br />
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row_login">
    <div class="Login_labels">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <b>Old Password</b>
                <input asp-for="OldPassword" class="input_remake" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>New Password</b>
                <input asp-for="NewPassword" class="input_remake" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>Confirm Password</b>
                <input asp-for="ConfirmPassword" class="input_remake" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="button_remake">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
